@import "../../global.scss";

#portfolioList {
  font-size: 17px;
  margin-right: 50px;
  padding: 7px 20px;
  cursor: pointer;

  @include mobile {
    margin-right: 0;
  }

  &.active {
    background-color: $mainColor;
    color: #fff;
  }
}
