@import "../../global.scss";

#contact {
  background-color: #fff;
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  .left {
    flex: 1;
    overflow: hidden;

    @include mobile {
      flex: 4;
    }

    img {
      height: 100%;

      @include mobile {
        width: 100%;
      }
    }
  }
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: -20px 0px 20px 2px rgb(255, 255, 255);

    @include mobile {
      flex: 8;
      box-shadow: none;
    }

    h2 {
      font-size: 30px;
    }

    form {
      width: 70%;
      height: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      @include mobile {
        height: 80%;
      }

      input {
        width: 300px;
        height: 30px;
        font-size: 14px;
      }
      textarea {
        width: 300px;
        height: 200px;
        font-size: 14px;
      }

      button {
        width: 150px;
        height: 30px;
        color: #fff;
        background-color: $mainColor;
        border: 0px;
        font-weight: 300;
        cursor: pointer;
        font-size: 16px;
      }

      & > * {
        margin: 15px 0 0 0;
        border-radius: 0px;

        &:focus-visible {
          outline: none;
        }
      }

      span {
        color: darkred;
      }
    }
  }
}
