#app{
    height: 100vh;
}

#app .sections{
    width: 100%;
    height: calc(100vh - 60px);
    background-color: coral;
    position: relative;
    top:60px;
}

#app .sections >*{
    width: 100%;
    height: calc(100vh - 60px);
}